$light-green : #7ed56f;
$medium-green : #55c57a;
$dark-green :  #28b485;

$color-grey-1 : #f7f7f7;
$color-black : #000000;
$color-white: #ffffff;


$color-dark-orange: #ff7730;
$color-light-orange: #ffb900;

$color-dark-blue: #2998ff;
$color-light-blue: #5643fa;



$primary-color: #88BDBC;
$secondary-color: #254E58;
$tertiary-color: #112D32;
$dark-brown : #4F4A41;
$light-brown : #6E6658;
